h2 {
	margin-top: 30px;
}

h2 > a:hover {
	text-decoration: none;
	color: #000000;
}

h2 > a {
	color: #000000;
}

.jumbotron {
	background-image: url("/asuwecwb/.assets/img/index-1.jpg");
	background-position: 50% 93%;
}

.status-1 {
	background-color: #000000;
}

.status-2 {
	background-color: #b41800;
}

.class-wrap {
}

.class {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
	height: 175px;
	display: flex;
	align-items: flex-end;
	background-color: -webkit-linear-gradient(left, #4700B2, #3366FF); /* For Safari 5.1 to 6.0 */
    background-color: -o-linear-gradient(right, #4700B2, #3366FF); /* For Opera 11.1 to 12.0 */
    background-color: -moz-linear-gradient(right, #4700B2, #3366FF); /* For Firefox 3.6 to 15 */
    background-color: linear-gradient(to right, #4700B2, #3366FF); /* Standard syntax (must be last) */
    background-position: 50% 50%;
}

.class > h3 {
	/*padding-top: 30px;*/
	margin: 0px;
	padding: 5px;
	width: 100%;
	color: #FFFFFF;

}

.col-md-10 > h2 {
	margin-top: 15px;
}

.sidebar-wrap {
	padding-top: 10px;
}

.sidebar {
	background-color: #EEEEEE;
	padding: 3px;
	border-radius: 3px;
	margin-top: 10px
}

.sidebar h2 {
	margin-top: 5px;
}

.sidebar ul {
	list-style-type: none;
	padding-left: 3px;
}

.affix-top {
	width: 131px;
}

.affix {
	width: 131px;
}