.jumbotron {
	background-position: 50% 0%;
}

#cancelled-course {
	background-color: #9c0000;
	color: white;
	padding: 10px;
	border-radius: 6px;
}

.wrapper {
	background-color: #CCCCCC;
	margin: 15px;
	padding: 4px;
	overflow: hidden;
}

.wrapper > h3{
	margin-top: 5px;
}

.status-1, .status-2, .status-3, .status-4 {
	background-color: #DDDDDD;
	padding: 5px;
}

.status-1 h3 {
	background-color: #5cb85c;
	color: white;
}

.status-2 h3 {
	background-color: #9c0000;
	color: white;
}

.status-3 h3 {
	background-color: #bd7318;
	color: white;
}

.status-4 h3 {
	background-color: #29416a;
	color: white;
}

.status-1 h3, .status-2 h3, .status-3 h3, .status-4 h3 {
	border-radius: 4px;
	padding: 5px;
	margin-bottom: 5px;
}

.no-style {
	list-style-type: none;
	padding-left: 0px;
	margin-bottom: 3px;
}

a {
	cursor: pointer;
}

.other-register {
	margin-top: 8px;
}