/*.jumbotron {
	background-color: #47008F;
	background-size: 100% auto;
	background-position: center center;
}

.jumbotron h1, .jumbotron p {
	color: white
}*/

/*carousel stuff*/

.jumbotron h1, .jumbotron p {
	color: white;
	text-align: center;
}

.jumbotron {
	background-image: url("/asuwecwb/.assets/img/index-2.jpg");
	background-repeat: none;
	background-position: 50% 0%;
	background-size: cover;
	min-height: 600px;
	margin: 0px;
}

.explanation {
	background-color: #8b2900;
	color: white;
}

.about {
	padding-top: 10px;
}

.find-a-class {
	background-color: #dddddd;
	border-radius: 4px;
}


/*.navbar {
	margin-bottom: 20px;
}*/