/*.jumbotron {
	background-color: #47008F;
	background-size: 100% auto;
	background-position: center center;
}

.jumbotron h1, .jumbotron p {
	color: white
}*/

/*carousel stuff*/

body, html {
	height: 100%;
}

.jumbotron h1, .jumbotron p {
	color: white;
	text-align: center;
}

.jumbotron {
	background-image: url("/asuwxpcl/.assets/img/index-2.jpg");
	background-position: 50% 0%;
	min-height: 300px;
	height: 50vh;
}

.explanation {
	background-color: #bd3162;
	color: white;
}

.about {
	padding-top: 10px;
}

.content > .container {
	padding-top: 0px;
}

.sidebar {
	background-color: #8b2039; /**/   
	border-radius: 4px;
	padding: 10px;
	height: 100%;
	color: white;
}

.sidebar a, .sidebar a:hover {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

.sidebar-wrap {
	height: 100%;
}

.cat-wrap {
	background-color: #eee;
	padding: 8px;
	margin-top: 20px;
	border-radius: 4px;
	min-height: 174px;
}

.icon {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 14px;
}

.categories-wrap div a {
	color: #000000;
}

.categories-wrap div a:hover {
	color: #000000;
}

.content .container {
	padding-bottom: 20px;
	margin-bottom: 30px;
}


/*.navbar {
	margin-bottom: 20px;
}*/