.jumbotron {
	background-image: url("/asuwxpcl/.assets/img/instructors.jpg");
	background-position: 50% 20%;
}

.dates {
	background-color: #007bbd;
	border-radius: 5px;
	color: white;
	padding: 6px;
}

.dates > h2 {
	margin-top: 0px;
}

.dates a {
	color: white !important;
	text-decoration: underline;
}

.nav-pills a {
	color: black !important;
	text-decoration: none;
}

.links-wrap {
	background-color: white;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.nav-pills li {
	margin-right: 10px;
}