.disabled h4 {
	color: #555555;
}

.sig-wrap {
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
	border: #DDDDDD 1px solid;
	margin-bottom: 10px;
}

.signed, .unsigned {
	padding: 5px;
	border-radius: 3px;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
}

.signed {
	background-color: #51a351;
}

.unsigned {
	background-color: #2f96b4;
}

textarea {
	height: 160px !important;
}

#fastTrackWrap {
	padding-top: 7px;
}

a {
	cursor: pointer;
}

.margin-fix {
	margin-left: 0px;
	margin-right: 0px;
}

#loadingTriangle {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 100px;
	width: 25%;
}

#itemsList ul {
	padding-left: 0px;
	list-style-type: none;
	margin-left: 0px;
}

#itemsList ul li {
	margin-bottom: 10px;
}